@model CPanelManager.ViewModels.ReportViewModel 

@{
    ViewData["Title"] = "Master Category";
}

<!-- MAIN CONTENT -->
<div id="content">


    <form asp-action="SaveMasterCategory" id="MasterCategory-form" novalidate="novalidate" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-edit fa-fw "></i>
                    Report
                    <span>
                        >
                        Print
                    </span>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" style="text-align:right;padding-top:10px;">
                            

            </div>
        </div>




        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- START ROW -->
            <div class="row">

                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false" data-widget-togglebutton="false" data-widget-sortable="false">


                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div class="smart-form" novalidate="novalidate">
                                    <header>
                                        Category Detail
                                    </header>

                                    <fieldset>
                                        <iframe src="~/Reports/@Model.ReportPath"  width="100%" height="1200px"></iframe>
                                    </fieldset>

                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->
                    <!-- Widget ID (each widget will need unique ID)-->
                    <!-- end widget -->
                </article>
                <!-- END COL -->


            </div>
            <!-- END ROW -->


        </section>
        <!-- end widget grid -->
    </form>
</div>

@section Scripts {

    <script type="text/javascript">







    </script>





    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


